@import url('https://fonts.googleapis.com/css?family=Orbitron');

h1{
  text-align: center;
  margin-top: 300px;
  font-family: 'Orbitron', sans-serif;
  color: #fa0303;
  font-size: 200px;
  border: solid 2px #fa0303;
  border-radius: 700px;
  border-width: 10px;
}
body{
  background-color: black;
}